# conda environment description file for docs build envioronment
# on readthedocs.org

name: sphinx-build

dependencies:
  - ipython
  - jupyter_client
  - python=3
  - sphinx

  - pip:
    - nbsphinx
