# conda environment description file for SalishSeaCast docs
# development environment and for the docs build environment on readthedocs.
#
# Create a conda environment in which the SalishSeaCast docs can be built
# with:
#
#   $ cd MEOPAR/docs
#   $ conda env create -f environment-rtd.yaml
#   $ conda activate salishseacast-docs
#
# The environment will include all of the packages necessary to build
# the docs locally so that you can preview them before you push to
# GitHub and wait for readthedocs to build them.
#
# See the requirements.txt file for an exhaustive list of all of the
# packages installed in the environment and their versions used in
# recent development.

name: salishseacast-docs

channels:
  - conda-forge
  - nodefaults

dependencies:
  - ipython
  - pandoc
  - pip
  - pre-commit
  - python=3.12

  - pip:
    - nbsphinx==0.9.5
    - sphinx==8.1.3
    - sphinx-notfound-page==1.0.4
    - sphinx-rtd-theme==3.0.0
